/* Paragraph Styling */
/*
p{
    font-size: xx-large;
    font-weight: bolder;
}
*/

h1{
    padding: 20px;
    border: 20px dotted yellowgreen;
    margin: 20px;
}

h1:hover{
    color: black;
}

/* Images */
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: aliceblue;
}

/* Video */
video{
    width: 500px;
    height: auto;
}

/* Image & Video Container */
.imgvideo{
    background-color: bisque;
    padding: 50px;
}

/* Paragraphs */
#p1{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

#p2{
    font-size: x-large;
    font-style: normal;
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Lists */
ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: none;
}

/* Table */
table,
td,
th{
    border: 1px dashed darkcyan;
    border-collapse: collapse;
}

th{
    background-color: rgb(174, 212, 215);
}

/* Buttons */
button{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    background-color: aquamarine;
}

/* Form */
form{
    width: 300px;
    background-color: darkseagreen;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}

/* Grid */
.grid{
    display: grid;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#one{
    background-color: beige;
}

#two{
    background-color: azure;
}

#three{
    background-color: aqua;
}

#four{
    background-color: pink;
}

#five{
    background-color: blue;
    color: white;
}

#six{
    background-color: brown;
    color: white;
}

/* Festivals Grid */
.festivals{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

/* Mobile View */
@media (max-width: 600px){

    img{
        width: 100%;
        height: auto;
    }

    nav{
        flex-direction: column;
    }

    .festivals{
        grid-template-columns: 1fr;
    }

    video{
        width: 100%;
    }
}

/* Tablet and Above */
@media (min-width: 600px){

    img{
        width: 100%;
        height: auto;
    }
}

/* Desktop View */
@media (min-width: 1024px){

    nav{
        flex-direction: row;
        gap: 50px;
    }

    .festivals{
        grid-template-columns: repeat(2, 1fr);
    }
}